.bottom-div{
  background-color: #f9f9f9;
  padding:20px 40px;
}
.bottom-border-right{
  border-right: 2px solid #dddddd;
}
.bottom-border{
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}
.margin-div > div{
  margin-top: 3px;
}
@media screen and (max-width: 768px){
  .bottom-border-right{
    border: none;
  }
}